<html>
<head>
    <title>Prakash DevOps Project</title>
</head>
<body style="font-family: Arial; text-align: center; margin-top: 50px;">
    <h1> Welcome to My DevOps Project</h1>
    <h2>Hi, I'm Prakash Reddy</h2>
    <p>Final Year B.Tech CSE (IoT)</p>

    <p>This application is deployed using:</p>
    <ul style="list-style: none;">
        <li>Ansible Automation</li>
        <li>Tomcat Server</li>
        <li>Nginx Reverse Proxy</li>
        <li>CI/CD Pipeline (Jenkins)</li>
    </ul>

    <h3> Learning DevOps Step by Step</h3>
</body>
</html>
